@page "/c_pelicula"
@inject HttpClient httpClient
@*@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
*@
<div class="card">
	<div class="card-header">
		<h3 class="card align-items-center">Consulta de Peliculas</h3>
	</div>

	<div class="card-body">
		<div class="row">
			<button type="button" @onclick="Buscar" class="btn btn-primary input-group-text">
				<i class="oi oi-magnifying-glass " />
			</button>
		</div>
		@if (Pelicula is not null)
		{
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>T&iacutetulo</th>
						<th>Email</th>
						<th>Fecha</th>
						<th>Puntuaci&oacuten</th>
						<th>Rese&ntildea</th>
						<th>Trailer</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var pelicula in Pelicula)
					{
						<tr>
							<img src="data:@pelicula.Imagen" />
							@*<td src="@libro.Imagen"></td>*@
							@*<td>@libro.Imagen</td>*@
							<td>@pelicula.Titulo</td>
							<td>@pelicula.Email</td>
							<td>@pelicula.Fecha.ToString("dd/MM/yyyy")</td>
							<td>@pelicula.Puntuacion</td>
							<td>@pelicula.Resena</td>
							<td>@pelicula.Trailer</td>
							<td><a href="Pelicula/@pelicula.PeliculaId">Ver</a></td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>

	<div class="card-footer">
		<div class="form-row justify-content-sm-between" aria-orientation="vertical">
			<div class="col-3">
				<label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
				<input id="CantidaRegistro" @bind-value="@conteo" disabled class="form-control" />
			</div>
		</div>
	</div>
</div>

@code {
	public List<Peliculas>? Pelicula { get; set; }
	public int conteo { get; set; }

	public async Task Buscar()
	{
		Pelicula = await httpClient.GetFromJsonAsync<List<Peliculas>>($"api/Peliculas");

		conteo = Pelicula != null ? Pelicula!.Count() : 0;
		StateHasChanged();
	}
}